:root{
  --primary-color:#C2A980;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.padding{
  padding: 2rem 0;
}

.header {
  position: absolute;
  width: 100%; 
  height: 100vh;
  overflow: hidden;
}
.sub-head-text{
  color: #C2A980;
   font-size: 6rem;
   font-weight: bold;
   font-family: Times New Roman;
}
.main-heading{
  font-size: 2.5rem;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px; 
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 0 20px;
}

.nav-left,
.nav-right {
  display: flex;
}

.nav-left ul,
.nav-right ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-left li,
.nav-right li {
  margin: 0 15px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  letter-spacing: 2px;
}
.nav-left li:hover,
.nav-right li:hover {
 color: #fff;
}

.logo {
  flex-shrink: 0;
}

.logo img {
  height: 80px;
  width: 150px;
}

.banner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1; 
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.navbar {
  position: relative;
  z-index: 2; 
}

.navbar .container {
  position: relative;
  z-index: 3; 
}

.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* .container{
  max-width:1100px;
} */
.text-area {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 5;
  font-family: "Playfair Display", serif;
}
.text-area h1{
  font-size: 4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-contact {
  position: absolute;
  top: 50%;
  right: -280px; 
  transform: translateY(-50%);
  width: 280px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
  box-sizing: border-box;
  transition: right 0.5s;
  z-index: 100;
}

.sidebar-contact.active {
  right: 0;
}

.sidebar-contact input,
.sidebar-contact textarea {
  width: 100%;
  height: 36px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .5);
  outline: none;
  font-size: 13px;
}

.sidebar-contact h2 {
  margin: 0 0 20px;
  padding: 0;
}

.sidebar-contact textarea {
  height: 60px;
  resize: none;
}

.sidebar-contact input[type="submit"] {
  background: #9f8054;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.toggle {
  position: absolute;
  height: 38px;
  width: 140px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  top: 50%;
  left: -89px;
  line-height: 17px;
  background: #9f8054;
  padding: 11px 6px 9px;
  color: #fff;
  transform: rotate(270deg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transform: rotate(270deg);
}

.scroll h3 {
  text-align: center;
  color: #9f8054;
  margin-bottom: 17px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.menuBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}

.header.fixed .menuBtn {
  width: 40px;
  height: 40px;
}

.menuBtn div {
  position: relative;
  width: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  transition: all 300ms ease-in-out;
}

.menuBtn span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  margin: 3px 0;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transform-origin: center center;
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn.closeMenuBtn span#menuLine1 {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
  transform: rotate(45deg) translate(4px, 4px);
  
}

.menuBtn.closeMenuBtn span#menuLine2 {
  right: 100px;
}

.menuBtn.closeMenuBtn span#menuLine3 {
  -webkit-transform: rotate(-45deg) translate(4px, -5px);
  transform: rotate(-45deg) translate(4px, -5px);
}
/* ----------overview------- */
/* .overview{
  background-image: url(https://ecis.in/gaurs-landing-page/public/assets/day1.png);
} */
 .amenities{
background-color: antiquewhite;
 }
/* .amenities::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://ecis.in/gaurs-landing-page/public/assets/day1.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.06;
} */
/* .amenities-list{
  justify-content: space-around;
} */
.amenities-heading{
  font-family: 'Times New Roman', Times, serif;
  color: #9f8054;

}
.amenties-img{
 height: 100%;
 width: 100%;
 margin-bottom: .7rem;
 padding-right: 2px;
 border-radius: 10px;

}
/* gallery */
.gallery-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper-slide{
  height: auto !important;
}
.super-amenities-img{
  
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.amenities-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f0f0f0; /* Example background color */
}

.amenities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Example max-width for container */
}

.amenities-item {
  width: 100%;
  max-width: 600px; /* Example max-width for each item */
  margin: 0 10px;
  background-color: #fff; /* Example background color */
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.amenities-item.active {
  transform: scale(1.05); /* Example scale effect for active item */
}
.all-amenties{
  background-color: #f0f0f0;
}
.partnersBtn{
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
  border-color: var(--primary-color);
  margin: auto;
  width: 500px;
}
.button.active {
  background-color: #805a26; 
}
.amenities-content {
  padding: 20px;
}

.main-heading {
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.centered {
  text-align: center;
}

/* Media query for mobile view */
@media only screen and (max-width: 500px) {
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
  }
  
  .nav-overlay.active {
    display: flex;
  }
  
  .nav-menu {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: left;
    color: #fff;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 11;
  }
  
  .nav-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-menu li {
    padding: 10px 0;
    text-align: center;
  }
  
  .menuBtn {
    z-index: 12; 
  }
  .text-area h1 {
    font-size: 2rem;
}
.text-area span{
  font-size: 3rem;
  line-height: .5;
}
}
@media only screen and (max-width: 1366px) {
  .nav-left li,
  .nav-right li {
    margin: 0;
  }
  .sub-head-text{
     font-size: 5rem;
  }
}